html {
    font-family: Verdana, sans-serif;
}
header {
    width: 50%;
    margin: auto;
}
h1 {
    line-height: 148px;
    font-size: 74px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div {
    height: 200px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height:  200px;
}