@import "variables.scss";

.header {
    height: $header-height;
    background-color: $color-header;
}

.menu {
    margin: 0 0 0 3em;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    line-height: $header-height;

    &__item {
        padding: 0 8px;
        cursor: pointer;
        color: $white;

        &:hover {
            background-color: $menu-hover;
        }

        &:hover > .submenu {
            display: block;
        }

        &_active {
            color: $menu-active;
            position: relative;
        }
    }
}

.submenu {
    padding: 0;
    margin: 0;
    background-color: $submenu-background-color;
    color: $white;
    box-shadow: $shadow;
    min-width: 120px;
    z-index: 1;
    position: absolute;
    list-style: none;
    display: none;

    &__item {
        padding: 0 8px;
        cursor: pointer;

        &:hover {
            color: $black;
        }
    }
}