*{
    box-sizing: border-box;
}
.dropdown {
    display: inline-block;
    margin: 16px;
    position: relative;
}
.menu-button {
    display: inline-block;
    padding: 16px;
    background-color: darkgreen;
    opacity: 0.8;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.menu-button:hover {
    opacity: 1;
}
.menu-list {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    max-width: fit-content;
    z-index: 1;
    list-style-type: none;
    position: absolute;
    top: 50px;
    display: none;
}
.menu-item {
    padding: 16px;
    cursor: pointer;
}
.menu-item:hover {
    background-color: ghostwhite;
}
.dropdown:hover .menu-list {
    display: block;
}