a[target="_blank"] {
    color: green;
}
ul {
    background-color: yellow;
}
footer, header {
    border: 3px dashed blue
}
h1, h2, h3, h4 {
    margin-left: 20px;
}
li.new {
    background-color: red;
}
article.new {
    font-size: 24px;
}
.new.posted-today {
    background-color: pink;
}